<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Paginador-php7-vuejs2</title>
        <link rel="stylesheet" href="assets/bootstrap5/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container my-3" id="AppPaginador">
            <div class="card">
                <div class="card-header">Listado de productos</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in productos">
                                    <th>{{ row.id }}</th>
                                    <td>
                                        <strong>{{ row.name }}</strong>
                                        <p>{{ row.short }}</p>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" :class="[pagination.current_page == 1 ? 'disabled': '']">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">Previous</a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" :class="[page == isActive ? 'active': '']">
                                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="[pagination.current_page == pagination.last_page ? 'disabled': '']">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src="assets/bootstrap5/js/bootstrap.min.js"></script>
        <script src="assets/axios.min.js"></script>
        <script src="assets/vue.js"></script>
        <script src="assets/paginador.js"></script>
    </body>
</html>
